@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<br />
<div>
    А почему Вы не можете написать мне в телеграмм? Или на почту?
</div>
<div>
    я хотел кое-что обсудить...
</div>
<div>
    Перед оплатой напишите ко мне, у меня есть один вопрос
</div>
<br />
<div>Если есть возможность напишите ко мне в телеграм</div>
<div>+7 902 744 0691</div>
<div>или job2017ya@yandex.ru</div>
<div>Только на всёсдал НИЧЕГО писать об этом не надо!!!</div>