@using Entities.Enums
@using Training.Components.Pages.Components
@attribute [Route(ProjectRouters.allTrainingCoursesPage)]
@inherits AllTrainingCoursesPageModel
<PageTitle>Курсы</PageTitle>

@* <h3>Мои курсы</h3>
<ShowAllTrainingCoursesComponent TrainingCourses=@TrainingCourses
                                 MyUser=@MyUser
                                 IsMyTrainingCoursesPage="true"
                                 IsShowDelButton="false" />
<br />
<br />
<ShowOperrationErrorComponent BaseOperationResponce="OtherPeoplesCoursesThatIChosenResponce" />
<ShowOperrationErrorComponent BaseOperationResponce="DelSelectedOtherPeopleCourseOperationResponce" />

@if (OtherPeoplesCoursesThatIChosen?.Count() > 0)
{
    <h3>Выбранные мною курсы, разработанные другими пользователями</h3>
    <ShowAllTrainingCoursesComponent TrainingCourses=@OtherPeoplesCoursesThatIChosen
                                     MyUser=@MyUser
                                     IsMyTrainingCoursesPage="true"
                                     IsShowDelButton="true"
                                     OnDeleteTrainingCourseCallback="DeleteSelectedTrainingCourse" />
} *@


<RadzenTabs @bind-SelectedIndex=@selectedIndex>
    <Tabs>
        <RadzenTabsItem Text="Мои курсы">
            <ShowAllTrainingCoursesComponent TrainingCourses=@Entities
                                             MyUser=@MyUser
                                             IsMyTrainingCoursesPage="true"
                                             IsShowDelButton="false" />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Выбранные мною курсы, разработанные другими пользователями">

            <ShowOperrationErrorComponent BaseOperationResponce="DelSelectedOtherPeopleCourseOperationResponce" />
            <ShowOperrationErrorComponent BaseOperationResponce="OtherPeoplesCoursesThatIChosenResponce" />
            <ShowAllTrainingCoursesComponent TrainingCourses=@OtherPeoplesCoursesThatIChosen
                                             MyUser=@MyUser
                                             IsMyTrainingCoursesPage="true"
                                             IsShowDelButton="true"
                                             OnDeleteTrainingCourseCallback="DeleteSelectedTrainingCourse" />
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    int selectedIndex = 0;
}