@using Entities.Enums
@using Training.Components.Pages.Components
@attribute [Route(ProjectRouters.otherPeoplesCoursesPage)]
@inherits OtherPeoplesCoursesPageModel
<PageTitle>Курсы</PageTitle>

@if (SelectedOtherPeopleCourse != null)
{
    <h3>Курсы, других пользователей</h3>
    <div>
        Уже мною выбранные чужие курсы (разработанные другими пользователями)
    </div>
    <ShowOperrationErrorComponent BaseOperationResponce="DelSelectedOtherPeopleCourseOperationResponce" />
    <ShowAllTrainingCoursesComponent TrainingCourses=@SelectedOtherPeopleCourse
                                 MyUser=@MyUser
                                 IsMyTrainingCoursesPage="false"
                                 IsShowDelButton="true" 
                                     OnDeleteTrainingCourseCallback="DeleteSelectedTrainingCourse" />
}
<br />
<div>
    Курсы открытые для всех. Разработанные другими пользователями.
</div>
@if (NotSelectedOtherPeopleCourse == null)
{
    <div>
        Нет курсов
    </div>
}
else
{
    <ShowAllTrainingCoursesComponent TrainingCourses=@NotSelectedOtherPeopleCourse
                                     MyUser=@MyUser
                                     IsMyTrainingCoursesPage="false"
                                     IsShowDelButton="false"
                                     OnAddTrainingCourseCallback="OnAddTrainingCourseClick" />
}
