@inherits LayoutComponentBase
<PageTitle>Главная</PageTitle>
@* <RadzenComponents /> *@
<RadzenComponents @rendermode="InteractiveServer" />

<div>
@Body
</div>

@*   <RadzenLayout>
    <RadzenHeader>
    </RadzenHeader>
    <RadzenBody>
         <div class="rz-p-4"> 
            @Body
         </div> 
    </RadzenBody>
     <RadzenFooter Style="position:sticky; bottom:0; left:0; width:stretch; margin-left: -16px; margin-right: -16px; box-sizing: content-box;">
    </RadzenFooter>   
</RadzenLayout>
 *@



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
 *@






@code {

    [Inject] NavigationManager Navigation { get; set; } = default!;

    void LoginClicked()
    {
        Navigation.NavigateTo(ProjectRouters.inputLoginandPasswordHref);
    }

    void RegistrationClicked()
    {
        Navigation.NavigateTo(ProjectRouters.newUserRegistrationHref);
    }
}